*{
    background-color: rgb(216, 210, 210);
    font-family: roboto;  
}
nav{
    display:flex;
    justify-content: space-between;
    color: beige;
    background-color: rgb(255, 255, 255);
}
nav ul{
    display: flex;
    list-style: none;
}
nav lo{
    padding-left: 1rem;

}