/* css navbar*/
*{
    background-color: rgb(216, 210, 210);
}
html{
    font-size: 14px;
    font-family: roboto;  


}


nav{
    color:rgb(40, 16, 16);
    font-weight: lighter;
}
nav ul{
    color: black;
    display: flex;
    list-style: none;
    justify-content: right;
    justify-content: space-evenly;
    padding: 15px;
}
header>h1{
    
    color:white;
    font-size: 50px;
    line-height: 1;
    letter-spacing: 2px;
    


}
header>h1>span{
    color: rgb(96, 96, 152);
    
    


}




/* fin css navbar*/