*{
    background-color: rgb(216, 210, 210);
    font-family: roboto;  
}
nav{
    text-color:rgb(40, 16, 16);
    font-weight: lighter;
    justify-content:right;
    background-color: rgb(255, 255, 255);
}
nav ul{
    display: flex;
    list-style: none;

}
nav lo{
    padding-left: 1rem;

}