/* css navbar*/
body{
    font-size: 14px;
    font-family: Roboto;
    background-color: rgb(211, 211, 211);
    margin: 0%;
}

nav ul{
    display: flex;
    justify-content: center;
    gap:30px;
    margin: 5% 0%;
}
nav li{
    list-style: none;
    font-weight: 400;
}
nav ul a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}
nav ul a:hover{
    color: black;
}

